/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Flexbox utilities */
.d-bloc {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.d-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}


body {
    font-family:"Prompt", sans-serif;
    background-color: #fff;
    font-size: 1rem;    /* 16px */
    line-height: 1.5;   /* 24px */
    font-weight: 400;
}

main {
    margin-top: 2rem;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
 
/* Button Styles */
.btn {
    display: inline-block;
    padding: 0.75rem 2.5rem;
    background-color: #002c5b;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.0625rem; /* 17px */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}
/* Header and Navigation */
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.25rem 0;
}

.Main-Navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Main-Navigation ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin-right: 1rem;
    z-index: 999;
}

.Main-Navigation ul li a {
    color: #002c5b;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: color 0.3s ease;
}

.Main-Navigation ul li a:hover {
    color: #007bff;
}

/* Responsive Menu Toggle */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #002c5b;
    background: none;
    border: none;
}
#menu.active {
    display: block;
}
a.btn.register-btn {
    z-index: 99;
}
/* Grid Layout */
.mainContent {
    position: relative;
    display: flex;
    align-items: center;
}

#blocLeft,
#blocRight{
    flex: 1;
    box-sizing: border-box;
}
.bloc p {
    color: #002c5b;
    font-size: 2rem;
    line-height: 2.625rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.bloc p span {
    color: #007bff;
}

.bloc p .block-span {
    color: #002c5b;
}

#imgBlocLeft,
#imgBlocRight{
    cursor: pointer;
}
#imgBlocRight {
    margin-right: 3rem;
}
/* Discover Button */

.discover-btn {
    display: inline-flex;
    background-color: #fff;
    color: #002c5b;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(128, 128, 128, 0.13);
    align-items: center;
    padding: 0.625rem 0.75rem;
    font-weight: 700;
    font-size: 14px;
    transition: border 0.4s ease, box-shadow 0.4s ease;
    margin: 0 8px 12px 0;
    gap: 8px;
}

.discover-btn img {
    margin-left: 0;
    transition: margin-left 0.4s ease;
}

.discover-btn:hover {
    border: 1px solid #002c5b;
    box-shadow: 0 4px 6px rgba(0, 44, 91, 0.2);
}

.discover-btn:hover img {
    margin-left: 0.625rem;
}

.productList{
    display: none;
    padding-bottom: 2rem;
}

/* Bloc right */
#blocRight{
    position: relative;
}

.bespokeList{
    display: none;
}


/* Hide Bespoke Section */
#hideBespoke {
    display: none;
    position: absolute;
    top: -26%;
    bottom: 0;
    right: -20px;
    width: 30%;
    background-color: #d8d8d8;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}
.hideBespoke-content {
    text-align: center;
}
#hideBespokeBtn{
    display: block;
    text-decoration: none;
    cursor: pointer;
}
#hideBespokeBtn span {
    display: block;
    color: #002c5b;
    font-size: 15px;
    font-weight: 600;
}

#hideBespokeBtn img {
    display: block;
    width: 1.5rem;
    padding-bottom: 1.25rem;
    margin: auto;
}

/* Hide Product Section */
#hideProduct {
    display: none;
    position: absolute;
    top: -26%;
    bottom: 0;
    left: -20px; 
    width: 30%;
    background-color: #d8d8d8;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}
.hideProduct-content {
    text-align: center;
}
#hideProductBtn{
    display: block;
    text-decoration: none;
    cursor: pointer;
}
#hideProductBtn span {
    display: block;
    color: #002c5b;
    font-size: 15px;
    font-weight: 600;
}

#hideProductBtn img {
    display: block;
    width: 1.5rem;
    padding-bottom: 1.25rem;
    margin: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header nav ul {
        display: none;
        flex-direction: column;
        background-color: #002c5b;
        position: absolute;
        top: 60px;
        left: 0;
        width: 50%;
        height: 100%;
        padding: 20px;
    }

    .header nav ul li {
        margin: 8px 0;
    }

    .Main-Navigation ul li a {
        text-align: left;
        color: #fff;
    }

    .menu-toggle {
        display: block;
    }
    .mainContent{
        display: block;
    }
    .bloc p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    #contenu-bloc-left {
        max-width: 295px;
        padding-bottom: 2rem;
    }
    .image-left {
        max-width: 200px;
    }
    .image-right {
        width: fit-content;
        position: absolute;
        bottom: 100%;
        left:98px;
    }
    .d-bloc {
        display: block !important;
    }
    #contenu-bloc-right {
        max-width: 295px;
        padding: 2rem 0 0 0;
    }
    .mainContent.showAfter:after,
    .mainContent.showBefore:before{
      display: none;
    }
}
@media screen and (min-width: 580px) and (max-width: 768px){
    #hideBespoke {
        width: 40%;
        right: 0;
        animation: none;
    }
    #hideProduct{
        width: 40%;
        right: 0;
        left: auto;
        animation: none;
    }
}
 @media screen and (max-width: 580px) {
    #hideBespoke {
        width: 100%;
        top: auto;
        bottom: -120px;
        animation: none;
    }
    #hideProduct{
        width: 100%;
        top: auto;
        bottom: -120px;
        animation: none;
    }
    
    #contenu-bloc-left {
        max-width: none;
    }
    .image-left {
       margin: auto;
    }
    .image-right {
        left: 50%;
    }
} 
@media screen and (min-width: 1200px) {
    .Main-Navigation ul {
        margin-right: 5rem;
        gap: 1.5rem;
    }
    #hideBespoke {
  right: -50px;
    }
    #hideProduct{
  left: -50px;
    }
}

